services:
  - type: redis
    name: hyow-redis
    plan: free
    ipAllowList:
      - source: 0.0.0.0/0

  - type: web
    name: hyow-api
    env: docker
    dockerContext: ./backend
    dockerfilePath: backend/Dockerfile
    branch: main
    # # health check will hit FastAPI health route
    # healthCheckPath: /api/v1/health
    autoDeploy: true
    plan: free
    envVars:
      - key: WORKER_TYPE
        value: ""   # empty means FastAPI 
      - key: ENV
        value: "development"
      - key: APP_NAME
        value: "Hack Your Own Web"
      - key: DATABASE_URL
        value: "postgresql+asyncpg://neondb_owner:npg_i5HN8mWuArgn@ep-plain-snow-adfu4a5y-pooler.c-2.us-east-1.aws.neon.tech/neondb"
      - key: REDIS_URL
      # pull connection string from the managed Redis service created above
        fromService:
          type: redis
          name: hyow-redis
          property: connectionString
      - key: CELERY_BROKER_URL
      # Celery broker/result backend will use the same Redis connection string
        fromService:
          type: redis
          name: hyow-redis
          property: connectionString
      - key: CELERY_RESULT_BACKEND
        fromService:
          type: redis
          name: hyow-redis
          property: connectionString
      - key: JWT_SECRET
        value: "uB8D8T4ic5027Qc7ldl68M6f+C60PaKfMI8MlBnZzzaCcZXK7mwsXSracY0EzmWQ"
      - key: JWT_ALGORITHM
        value: "HS256"
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: "30"
      - key: REFRESH_TOKEN_EXPIRE_DAYS
        value: "18"
      - key: MAIL_USERNAME
        value: "open.source.user.authentication@gmail.com"
      - key: MAIL_PASSWORD
        value: "avvx yapu kbko nbzg"
      - key: MAIL_FROM
        value: "open.source.user.authentication@gmail.com"
      - key: MAIL_FROM_NAME
        value: "no-reply"
      - key: MAIL_PORT
        value: "587"
      - key: MAIL_SERVER
        value: "smtp.gmail.com"
      - key: MAIL_STARTTLS
        value: "True"
      - key: MAIL_SSL_TLS
        value: "False"
      - key: MAIL_DEBUG
        value: "True"
      - key: USE_CREDENTIALS
        value: "True"
      - key: ZAP_URL
        # Point to the ZAP service using the Render-assigned hostname and port
        value: "https://zap-service-9zv2.onrender.com:10000"
      - key: ZAP_API_KEY
        value: "15d12de6-553b-4af7-bd5c-22599f8876f2"
      - key: USE_DOCKER_ZAP
        value: "False"
      - key: ZAP_PASSIVE_SCAN_TIMEOUT
        value: "600"
      - key: ZAP_SPIDER_TIMEOUT
        value: "300"
      - key: ZAP_SPIDER_MAX_DURATION
        value: "5"
      - key: ZAP_ACTIVE_SCAN_TIMEOUT
        value: "1800"
      - key: DOMAIN_VERIFICATION_TOKEN_PREFIX
        value: "hackyourownweb-verify="

  - type: worker
    name: celery_domain_worker
    env: docker
    dockerfilePath: backend/Dockerfile
    branch: main
    plan: free
    autoDeploy: true
    envVars:
      - key: WORKER_TYPE
        value: "domain_worker"
      - key: DATABASE_URL
        value: "postgresql+asyncpg://neondb_owner:npg_i5HN8mWuArgn@ep-plain-snow-adfu4a5y-pooler.c-2.us-east-1.aws.neon.tech/neondb"
      - key: CELERY_BROKER_URL
        fromService:
          type: redis
          name: hyow-redis
          property: connectionString
      - key: CELERY_RESULT_BACKEND
        fromService:
          type: redis
          name: hyow-redis
          property: connectionString

  - type: worker
    name: celery_scan_worker
    env: docker
    dockerfilePath: backend/Dockerfile
    branch: main
    plan: free
    autoDeploy: true
    envVars:
      - key: WORKER_TYPE
        value: "scan_worker"
      - key: DATABASE_URL
        value: "postgresql+asyncpg://neondb_owner:npg_i5HN8mWuArgn@ep-plain-snow-adfu4a5y-pooler.c-2.us-east-1.aws.neon.tech/neondb"
      - key: CELERY_BROKER_URL
        fromService:
          type: redis
          name: hyow-redis
          property: connectionString
      - key: CELERY_RESULT_BACKEND
        fromService:
          type: redis
          name: hyow-redis
          property: connectionString

  - type: worker
    name: celery_beat
    env: docker
    dockerfilePath: backend/Dockerfile
    branch: main
    plan: free
    autoDeploy: true
    envVars:
      - key: WORKER_TYPE
        value: "beat"
      - key: DATABASE_URL
        value: "postgresql+asyncpg://neondb_owner:npg_i5HN8mWuArgn@ep-plain-snow-adfu4a5y-pooler.c-2.us-east-1.aws.neon.tech/neondb"
      - key: CELERY_BROKER_URL
        fromService:
          type: redis
          name: hyow-redis
          property: connectionString
      - key: CELERY_RESULT_BACKEND
        fromService:
          type: redis
          name: hyow-redis
          property: connectionString